.img{
    height: 200px;
    width: 300px;
}

.primeiro{
    background-color: (#F5F5F5);
    padding: 20px;
    margin: 40px;
}

.segundo{
    background-color: (#F0CCE2);
    padding: 20px;
    margin: 40px;
}